################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScreenFlowTest
/ScreenFlowTest/bin
/ScreenFlowTest/obj
